body {
   font-family: Arial;
   margin: 0px;
}

h2 {
   font-weight: bold;
   padding-top: 26px;
   padding-bottom: 10px;
}

.content {
   display: none;
   padding: 50px 20px;
   height: 100%;
   line-height: 25px;
   margin-left: 150px;
   margin-right: 150px;
   font-size: 18px;
}

.header {
   background-color: #003366;
   background-image: url("../img/temp2.jpg");
   background-blend-mode: color;
   font-size: 28px;
   height: 400px;
   text-align: center;
}

.link {
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   color: white;
   padding: 12px 32px;
   opacity: 0.8;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
}

.tablink {
   background-color: rgba(0, 0, 0, 0.0);
   border: none;
   color: #9a9a9a;
   cursor: pointer;
   float: right;
   font-size: 18px;
   margin: 0px;
   padding: 20px 20px;
   width: 10%;
}

.tablink:hover {
   color: #d3d2d2!important;
}

.tablink:focus {
   outline:0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

th {
   text-align: left;
}
