.Select-control {
   box-shadow: none !important;
}

body {
   font-family: Arial;
   margin: 0px;
}

.link {
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   color: white;
   padding: 12px 32px;
   opacity: 0.8;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
}

.tablink {
   background-color: rgba(0, 0, 0, 0.0);
   border: none;
   color: #9a9a9a;
   cursor: pointer;
   float: right;
   font-size: 16px;
   margin: 0px;
   padding: 20px 20px;
   width: 10%;
}

.tablink:hover {
   color: #d3d2d2!important;
}

.header {
   background-color: #0a2e5e;
   font-size: 28px;
   height: 400px;
   text-align: center;
}

.content {
   display: none;
   padding: 100px 20px;
   height: 100%;
   margin-left: 200px;
   margin-top: -25px;
   text-align: justify;
   text-size: 18px;
}
